MODE=local
FRAPPE_BRANCH=version-15
NODE_MAJOR=22
BENCH_USER=${USER}
BENCH_DIR=${HOME}/frappe-bench
SITE_NAME=omc.local
APP_NAME=omc_app
APP_SOURCE_TYPE=monorepo
APP_REPO_URL=https://github.com/mshahwaiz-ali/omc_app.git
APP_BRANCH=main
APP_SUBDIRECTORY=backend_omc_app/frappe-bench/apps/omc_app
BACKUP_RETENTION_DAYS=14
