FRAPPE_BRANCH=version-15
NODE_MAJOR=18
BENCH_USER=ubuntu
BENCH_DIR=/home/ubuntu/omc_app/backend_omc_app/frappe-bench
APP_SOURCE_DIR=/home/ubuntu/omc_app/backend_omc_app/apps/omc_app
SITE_NAME=13.63.113.213
